#content
  h2 Intro to differential equations
  p
    | How is a differential equation different from a regular one?  Well, the solution is a function (or a class of functions), not a number.
    | How do you like me now (that is what the differential equation would say in response to your shock)!
  .playlist
    ul
        li
          a(href='math/first-order-differential-equations/what-is-a-differential-equation.html', name='what-is-a-differential-equation')
            img(src='math/media/-_POEWfygmU.jpg', alt='')
            b What is a differential equation
            p What a differential equation is and some terminology.




h1 Index Functionality 
p Goes through all the _data.json in subject-specific subdirs
mixin tree(head, tail)
  for val, key in head
    if (['_data'].indexOf(key) > -1)
      - function cap(string) {
      - return string.charAt(0).toUpperCase() + string.slice(1).replace(/-/g, " ");
      - }
      - var cols = val.content.length
      - var n = Math.floor(12/cols)
      .row
        //h2 #{ cap(tail.replace(/\//g, " ")) } 
        //Maybe I could use the head object there...
        //Or maybe I should change the _data.json
        for obj in val.content
          .col(class=["c#{ n }"])
            h4= cap(obj.name)
            ul
              each page in obj.pages
                li(class="#{ current.source == page.slug ? 'active' : '' }")
                  a(href="./#{ page.slug }.html") #{ cap(page.slug) }
    if (['.git', '_data', 'assets', '_partials'].indexOf(key) == -1) && key != '_contents'
      mixin tree(val, tail + key + "/")

mixin tree(public, "/")



