- var level = current.path.length
- var rootDir = current.path.slice(0,1)

if level > 1
  - var dataFile = public[current.path.slice(0,1)]._data
  - var datakids = public[current.path.slice(0,1)]._data.children

if level === 1
  != yield
if level === 2
  h3= dataFile.title
  != yield
  != partial("../_partials/meganav")
if level === 3
  for obj in datakids
    if obj.slug === current.path.slice(1,2).toString()
      h3= obj.title
      != yield
      ul
        each page in obj.children
          li(class="")
            a(href="/#{rootDir}/#{obj.slug}/#{ page.slug }.html") #{ page.title }