- function cap(string) {
  - return string.charAt(0).toUpperCase() + string.slice(1).replace(/-/g, " ");
- }
- var cols = public.math._data.length
- var n = Math.floor(12/cols)

.row
  for slug in public.math._data
    .col(class=["c#{ n }"])
      h4= cap(slug.name)
      ul
        each page in slug.pages
          li(class="#{ current.source == page ? 'active' : '' }")
            a(href="./#{ page }.html") #{ cap(page) }
