- function cap(string) {
  - return string.charAt(0).toUpperCase() + string.slice(1).replace(/-/g, " ");
- }
- var datadir = public[current.path.slice(0,1)]._data
- var cols = datadir.length
- var n = Math.floor(12/cols)
.row
  for slug in datadir
    .col(class=["c#{ n }"])
      h4= cap(slug.name)
      ul
        each page in slug.pages
          li(class="#{ current.source == page ? 'active' : '' }")
            a(href="./#{ page }.html") #{ cap(page) }
