- var rootDir = current.path.slice(0,1)
- var datakids = public[current.path.slice(0,1)]._data.children
- var cols = datakids.length
- var n = Math.floor(12/cols)
.row
  for obj in datakids
    .col(class=["c#{ n }"])
      h4= obj.title
      ul
        each page in obj.children
          li(class="#{ current.source == page.slug ? 'active' : '' }")
            a(href="/#{rootDir}/#{obj.slug}/#{ page.slug }.html") #{ page.title }
